<h1>
  <%= data.zip %> - 
  <% if (data.city) { %>
  <%= data.city %>, King County
  <% } else { %>
    King County
  <% } %>
</h1>
<div class="row">
  <div class="cell">
    <h2>Multiple offers</h2>
    <% if (data.multiples.length) { %>
    <ul>
    <% data.multiples.forEach(function(row) { %>
      <li> <%= row.year %> - <%= (row.value * 100).toFixed(1) %>%
    <% }); %>
    </ul>
    <% } else { %>
    No data
    <% } %>
  </div>
  <div class="cell">
    <h2>Above List</h2>
    <% if (data.aboves.length) { %>
    <ul>
    <% data.aboves.forEach(function(row) { %>
      <li> <%= row.year %> - <%= (row.value * 100).toFixed(1) %>%
    <% }); %>
    </ul>
    <% } else { %>
    No data
    <% } %>
  </div>
</div>